$colorText: rgb(57, 57, 57);
$borderColor: rgb(20, 88, 20);
$purple035: rgba(137, 43, 226, 0.35);
$purple070: rgba(137, 43, 226, 0.7);
$purple: rgba(137, 43, 226, 1);
.btn-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .btn {
        border: 1px solid $borderColor;
        font-weight: 100;
        color:$borderColor;
    }
}

.product {
    text-transform: uppercase;
    text-align: center;
    color: $colorText;
    h4 {
        font-size: 24px;
        color:rgb(16, 70, 16);
    }
    .product-description {
        color: greey;
    }
    .product-price {
        font-size: 22px;
    }
    .product-features {
        font-size: 18px;
        span {
            font-weight: bold;
        }
    }
    .product-image {
        img {
            max-height: 350px ;
            text-align: center;
        }
    }
    .liked {
        border:1px solid $purple035;
        color: $purple;
    }
    .product-quantity {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 0;
        input {
            text-align: center;
            max-width: 150px;
            color:$colorText;
        }
        button {
            background-color:$purple;
            margin-left:5px;
            margin-right: 5px;
            &:disabled {
                background-color: $purple035;
                color: $purple;
            }
        }
    
    }
}
.change-color{
    button {
        background-color: $purple;
        border: none;
        color:white;
        padding: 7px;
        border-radius: 3px;
        &:hover {
            background:$purple070;
        }

    }
}
