.btn-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .btn {
        border: 1px solid green;
        font-weight: 100;
        color:green;
    }
}

.product {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(137, 43, 226, 0.5);
    h4 {
        font-size: 24px;
        color:rgb(16, 70, 16);
    }
    .product-description {
        color: greey;
    }
    .product-price {
        font-size: 22px;
    }
    .product-features {
        font-size: 18px;
        span {
            font-weight: bold;
        }
    }
    .product-image {
        img {
            max-height: 350px ;
            text-align: center;
        }
        
    }
}