.btn-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .btn {
        border: 1px solid green;
        color:green;
    }
}

.product {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(22, 136, 22);
    h4 {
        font-size: 24px;
    }
    .product-description {

    }
    .product-price {
        font-size: 22px;
    }
    .product-features {
        font-size: 18px;
        span {
            font-weight: bold;
        }
    }
}