@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$btn-color: #118DA8;
.latest-episodes {
    padding:100px 70px;
    .title-header {
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 10px 0;

        h1 {
            font-size: 64px;
            line-height: 79px;
            letter-spacing: 2.88px;
            color:white;
        }

        .btn {
            color: white;
            text-transform: none;
            background-color: $btn-color;
            font-size:17px;
            padding:12px 20px;
            &:hover {
                background-color: rgba(17, 140, 168, 0.85);
            }
        }
    }
    //
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}